<nav>
    <a routerLink="/home">Home</a> |
        <a routerLink="/about">About</a> |
        <a routerLink="/user">Users</a> |   
        <a routerLink="/vendor">Vendors</a> |   
        <a routerLink="/product">Products</a> |   
        <a routerLink="/request">Requests</a> |
        <a routerLink="/review">Review</a>   
</nav>
<div *ngIf="product" class="component">
    <div>
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span>&nbsp;<a routerLink="/product">Return to List</a></span>

        <div><span class="h3">Product: {{product.name}}'s Details</span></div> 
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td><input [(ngModel)]="product.id" type="text" disabled></td>
                </tr>
                <tr>
                    <th scope="row">Vendor</th>
                    <td><input [(ngModel)]="product.vendor.name" type="text" disabled></td>
                </tr>
                <tr>
                    <th scope="row">Part Number</th>
                    <td><input [(ngModel)]="product.partNumber" type="text" disabled></td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td><input [(ngModel)]="product.name" type="text" disabled></td>
                </tr>
                <tr>
                    <th scope="row">Price</th>
                    <td><input [(ngModel)]="product.price" type="text" disabled></td>
                </tr>
                <tr>
                    <th scope="row">Unit</th>
                    <td><input [(ngModel)]="product.unit" type="text" disabled></td>
                </tr>
                <tr>
                    <th scope="row">Photo Path</th>
                    <td><input [(ngModel)]="product.photoPath" type="text" disabled></td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="remove()">Delete User</button>
                    </td> 
                </tr>
            </tbody>
        </table>