<nav>
    <a routerLink="/home">Home</a> |
        <a routerLink="/about">About</a> |
        <a routerLink="/user">Users</a> |   
        <a routerLink="/vendor">Vendors</a> |   
        <a routerLink="/product">Products</a> |   
        <a routerLink="/request">Requests</a> |
        <a routerLink="/review">Review</a>   
</nav>
<div><span class="h3">Details for New Line Item</span></div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Product</th>
            <td>
                <select [(ngModel)]="requestline.product" (click)="newChange()">
                    <option *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th scope="row">Quantity</th>
            <td><input [(ngModel)]="requestline.quantity" type="text" (click)="newChange()"></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" (click)="save()">{{saved}}</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" routerLink="/requests/lines/{{request.id}}">Discard New Line Item</button>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>